<center><h2>Lista de usuários</h2></center>
<div class="input-control modern text place-right" data-role="input" style="width: 100%;">
    <input id="campo-consulta" type="text">
    <span class="label">Localizar</span>
    <span class="informer">Digite o nome para buscar</span>
    <span class="placeholder">Digite o nome para buscar</span>
    <button id="btnConsulta" class="button"><span class="mif-search"></span></button>
</div>
<table id="grid-usuarios">

</table>
