<!--Form de cancelamento de reservas-->
<div class="input-control modern text place-right" data-role="input" style="width: 100%;">
    <input id="txConsultaOperacao" type="text">
    <span class="label">Localizar</span>
    <span class="informer">Digite o termo da busca</span>
    <span class="placeholder">Digite o termo da busca</span>
    <button id="btnConsultaOperacao" class="button"><span class="mif-search"></span></button>
</div>      
<table  id="tabelaOperacoes">

</table>

<% include ./js/consulta-operacoes %>