<!--forms para manuteção-->
<div class="row">
    <div class="cell colspan2">
        <blockquote style="padding: .4em; font-size: 1.2em; background-color: #59cde2"><span>Consultar por Categoria:</span></blockquote>
        <div class="input-control select">
            <select name="tipoObjeto" id="tipoObjeto">
                <option value="">Todas as categorias</option>
                <% tiposObjetos.forEach(tipoObjeto => { %>
                    <option value="<%= tipoObjeto.id %>"><%= tipoObjeto.descricao %></option>
                <% }) %>
            </select>
        </div>
        <button class="square-button" onclick="atualizarReservas()"><span class="icon mif-search"></span></button>
        <div
            data-role="calendar"
            id="reservadata"
            data-min-date="<%= `${periodoDeReservas.inicio.ano}-${periodoDeReservas.inicio.mes}-${periodoDeReservas.inicio.dia}` %>"
            data-max-date="<%= `${periodoDeReservas.fim.ano}-${periodoDeReservas.fim.mes}-${periodoDeReservas.fim.dia}` %>"
            data-day-click="atualizarReservas"
            data-locale="pt"
            data-buttons="false"
        ></div>
        <p style="font-weight: bold">Legenda:</p>
        <p>Livre <span class="mif-checkmark fg-blue"></span></p>
        <p>Reservado <span class="mif-cross fg-red"></span></p>
    </div>
    <div class="cell colspan9">
        <table id="tabelamanutencao">
            <thead>
                <tr>
                    <th rowspan="2" data-field="descricao">Objeto</th>
                    <th colspan="4">Matutino</th>
                    <th rowspan="2" data-field="almoco" data-formatter="formatadorCelula">Almoço</th>
                    <th colspan="4">Vespertino</th>
                    <th rowspan="2" data-field="janta" data-formatter="formatadorCelula">Janta</th>
                    <th colspan="4" data-formatter="formatadorCelula">Noturno</th>
                </tr>
                <tr>
                    <th data-field="mat_aula_1" data-formatter="formatadorCelula">1</th>
                    <th data-field="mat_aula_2" data-formatter="formatadorCelula">2</th>
                    <th data-field="mat_aula_3" data-formatter="formatadorCelula">3</th>
                    <th data-field="mat_aula_4" data-formatter="formatadorCelula">4</th>

                    <th data-field="vesp_aula_1" data-formatter="formatadorCelula">1</th>
                    <th data-field="vesp_aula_2" data-formatter="formatadorCelula">2</th>
                    <th data-field="vesp_aula_3" data-formatter="formatadorCelula">3</th>
                    <th data-field="vesp_aula_4" data-formatter="formatadorCelula">4</th>

                    <th data-field="not_aula_1" data-formatter="formatadorCelula">1</th>
                    <th data-field="not_aula_2" data-formatter="formatadorCelula">2</th>
                    <th data-field="not_aula_3" data-formatter="formatadorCelula">3</th>
                    <th data-field="not_aula_4" data-formatter="formatadorCelula">4</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<% include ./js/consulta-reservas %>