<center><h1>Administração de Cursos</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="cell">
                    <% include ./cursos/formulario-de-cadastro %>
                </div>
                <div class="cell">
                    <% include ./cursos/listagem %>
                </div>
            </div>
            <p style="padding:10px"></p>
        </div>
    </div>
</div>

<% include ./cursos/js/main %>
