<center><h1>Cadastro de Disciplinas</h1></center>
<div class="container">
    <div class="grid">
        <div class="row cells2">
            <div class="cell colspan5">
                <% include ./disciplinas/formulario-de-cadastro %>
            </div>
            <div class="cell colspan7">
                <% include ./disciplinas/listagem %>
            </div>
        </div>
    </div>
</div>