<center><h1>Cadastro de Reserváveis</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="cell">
                    <% include ./objetos/formulario-de-cadastro %>
                </div>
                <div class="cell">
                    <% include ./objetos/listagem %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./objetos/js/main %>
