<center><h1>Administração de Oferecimentos</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="cell">
                    <div class="tabcontrol2" data-role="tabcontrol">
                        <ul class="tabs">
                            <li><a href="#frameCadastro">Cadastrar</a></li>
                            <li><a href="#frameAlteracao">Alteração</a></li>
                            <li><a href="#frameCancelamento">Cancelar</a></li>
                        </ul>
                        <div class="frames">
                            <div class="frame" id="frameCadastro">
                                <% include ./oferecimentos/frame-cadastro %>
                            </div>
                            <div class="frame" id="frameAlteracao">
                                <% include ./oferecimentos/frame-alteracao %>
                            </div>
                            <div class="frame" id="frameCancelamento">
                                <% include ./oferecimentos/frame-cancelamento %>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<% include ./oferecimentos/js/utils %>
