<center><h1>Administração de Reservas</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="tabcontrol2" data-role="tabcontrol">
                    <ul class="tabs">
                        <li><a href="#frame_1_1">Reservar</a></li>
                        <li><a href="#frame_1_2">Cancelar Reservas</a></li>
                        <li><a href="#frame_1_3">Cancelar Operações</a></li>
                    </ul>
                    <div class="frames bg-grayLight">
                        <div class="frame" id="frame_1_1">
                            <% include ./reservas/frame-reservar %>
                        </div>
                        <div class="frame" id="frame_1_2">
                            <% include ./reservas/frame-cancelar-reservas %>
                        </div>
                        <div class="frame" id="frame_1_3">
                            <% include ./reservas/frame-cancelar-operacoes %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./reservas/js/utils %>