<center><h1>Administração de Reservas</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="tabcontrol2" data-role="tabcontrol">
                    <ul class="tabs">
                        <li><a href="#frame_1_1">Reservas</a></li>
                        <li><a href="#frame_1_2">Manutenção</a></li>
                        <li><a href="#frame_1_3">Cancelamento</a></li>
                    </ul>
                    <div class="frames bg-grayLight">
                        <div class="frame" id="frame_1_1">
                            <!--forms para reserva-->
                            <div class="row">
                                <div class="cell">
                                    <div class="panel success">
                                        <div class="heading">
                                            <span class="title">Oferecimento</span>
                                        </div>
                                        <div class="input-control modern text place-right" data-role="input" style="width: 100%;">
                                            <input id="txconsultaoferecimentos" type="text">
                                            <span class="label">Localizar</span>
                                            <span class="informer">Digite o termo da busca</span>
                                            <span class="placeholder">Digite o termo da busca</span>
                                            <button id="btnConsultaOferecimento" class="button"><span class="mif-search"></span></button>
                                        </div>
                                        <table id="gridOferecimentos">

                                        </table>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="panel success">
                                        <div class="heading">
                                            <span class="title">Objeto</span>
                                        </div>
                                        <div class="input-control modern text place-right" data-role="input" style="width: 100%;">
                                            <input id="txconsultaobjetos" type="text">
                                            <span class="label">Localizar</span>
                                            <span class="informer">Digite o termo da busca</span>
                                            <span class="placeholder">Digite o termo da busca</span>
                                            <button id="btnConsultaObjeto" class="button"><span class="mif-search"></span></button>
                                        </div>
                                        <table id="gridObjetos">

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel success">
                                <div class="heading">
                                    <span class="title">Horários e datas</span>
                                </div>
                                <div class="row">
                                    <div class="cell colspan3">
                                        <div class="row">
                                            <div class="cell">
                                                <h4>Matutino</h4>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="mat_aula_1">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-01</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="mat_aula_2">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-02</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="mat_aula_3">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-03</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="mat_aula_4">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-04</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <h4>Vespertino</h4>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="vesp_aula_1">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-01</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="vesp_aula_2">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-02</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="vesp_aula_3">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-03</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="vesp_aula_4">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-04</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="cell">
                                                <h4>Noturno</h4>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="not_aula_1">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-01</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="not_aula_2">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-02</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="not_aula_3">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-03</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="not_aula_4">
                                                        <span class="check"></span>
                                                        <span class="caption">Aula-04</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="cell">
                                                <h4>Especiais</h4>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="almoco">
                                                        <span class="check"></span>
                                                        <span class="caption">Almoço</span>
                                                    </label>
                                                </div>
                                                <div class="content">
                                                    <label class="input-control checkbox">
                                                        <input type="checkbox" name="horario" value="janta">
                                                        <span class="check"></span>
                                                        <span class="caption">Janta</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell colspan4">
                                        <div data-role="calendar" id="reservadatas" data-day-click="atualizaSumarioDatas()" data-multi-select="true" data-locale="pt"></div>
                                        <label class="block">Descrição da reserva:</label>
                                        <div class="input-control text" style="width: 100%;">
                                            <textarea
                                                id="descricaooperacao"
                                                name="descricao"></textarea> 
                                        </div>
                                    </div>
                                    <div class="cell colspan4">
                                        <div class="panel success">
                                            <div class="heading">
                                                <span class="title">Resumo da reserva</span>
                                            </div>
                                            <input id="oferecimentoid" value="" hidden="">
                                            <p>Oferecimento: <span id="oferecimentoselecionado"></span></p>
                                            <input id="objetoid" value="" hidden="">
                                            <p>Objeto: <span id="objetoselecionado"></span></p>
                                            <p>Datas: <span id="diasselecionados"></span></p>
                                            <button id="efetuarreserva" class="button primary">Efetuar Reserva</button>
                                            <div id="reservasConflitantes"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame" id="frame_1_2">
                            <!--forms para manuteção-->
                            <label class="block" for="datamanutencao">Buscar na data:</label>
                            <input type="text" name="datamanutencao" value="" />
                            <table id="tabelamanutencao">
                                <thead>
                                    <tr>
                                        <th rowspan="2" data-field="descricao">Objeto</th>
                                        <th colspan="4">Matutino</th>
                                        <th rowspan="2" data-field="almoco" data-formatter="formatadorCelula">Almoço</th>
                                        <th colspan="4">Vespertino</th>
                                        <th rowspan="2" data-field="janta" data-formatter="formatadorCelula">Janta</th>
                                        <th colspan="4" data-formatter="formatadorCelula">Noturno</th>
                                    </tr>
                                    <tr>
                                        <th data-field="mat_aula_1" data-formatter="formatadorCelula">1</th>
                                        <th data-field="mat_aula_2" data-formatter="formatadorCelula">2</th>
                                        <th data-field="mat_aula_3" data-formatter="formatadorCelula">3</th>
                                        <th data-field="mat_aula_4" data-formatter="formatadorCelula">4</th>

                                        <th data-field="vesp_aula_1" data-formatter="formatadorCelula">1</th>
                                        <th data-field="vesp_aula_2" data-formatter="formatadorCelula">2</th>
                                        <th data-field="vesp_aula_3" data-formatter="formatadorCelula">3</th>
                                        <th data-field="vesp_aula_4" data-formatter="formatadorCelula">4</th>

                                        <th data-field="not_aula_1" data-formatter="formatadorCelula">1</th>
                                        <th data-field="not_aula_2" data-formatter="formatadorCelula">2</th>
                                        <th data-field="not_aula_3" data-formatter="formatadorCelula">3</th>
                                        <th data-field="not_aula_4" data-formatter="formatadorCelula">4</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="frame" id="frame_1_3">
                            <!--Form de cancelamento de reservas-->
                            <div class="input-control modern text place-right" data-role="input" style="width: 100%;">
                                <input id="txconsultaOperacao" type="text">
                                <span class="label">Localizar</span>
                                <span class="informer">Digite o termo da busca</span>
                                <span class="placeholder">Digite o termo da busca</span>
                                <button id="btnConsultaOperacao" class="button"><span class="mif-search"></span></button>
                            </div>      
                            <table  id="tabelaCancelamento">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /*
     * Implementação da aba de reservas
     */
    function atualizaSumarioDatas()
    {
        var datas = $('#reservadatas').calendar('getDates');
        var diasSelecionados = '';

        $.each(datas, function(indice, data)
        {
            var dia = data.slice(8, 10);
            var mes = data.slice(5, 7);
            var ano = data.slice(0, 4);
            diasSelecionados += dia + '/' + mes + '/' + ano + ' - ';
        });

        diasSelecionados = diasSelecionados.substring(0, diasSelecionados.length - 3);
        $('#diasselecionados').html(diasSelecionados);
    }

    $('#efetuarreserva').on('click', function () {
        var reservaNova = new Reserva();

        reservaNova.oferecimento = $('#oferecimentoid').val();
        if (!reservaNova.validaOferecimento(reservaNova.oferecimento))
            return;

        reservaNova.objeto = $('#objetoid').val();
        if (!reservaNova.validaObjeto(reservaNova.objeto))
            return;

        $('input[name="horario"]').each(function ()
        {
            reservaNova.horarios.push({checked: $(this).is(':checked'), campo: $(this).val()});
        });
        if (!reservaNova.validaHorarios(reservaNova.horarios))
            return;

        var datas = $('#reservadatas').calendar('getDates');
        $.each(datas, function (indice, data)
        {
            dia = data.slice(8, 10);
            mes = data.slice(5, 7);
            ano = data.slice(0, 4);
            reservaNova.datas.push({dia: dia, mes: mes, ano: ano});
        });
        if (!reservaNova.validaDatas(reservaNova.datas))
            return;

        reservaNova.descricaoOperacao = $('#descricaooperacao').val();
        if (!reservaNova.validaDescricaoOperacao(reservaNova.descricaoOperacao))
            return;

        var admin = new Admin();
        var titulo = "Cadastro de reserva";
        var conteudo = "Deseja efetuar a reserva?";
        var callback = function ()
        {
            $.post('cadastrar-reserva',
                    {
                        oferecimento: reservaNova.oferecimento,
                        objeto: reservaNova.objeto,
                        horarios: reservaNova.horarios,
                        datas: reservaNova.datas,
                        descricaoOperacao: reservaNova.descricaoOperacao
                    }, function (data, status)
            {
                $.Notify(
                        {
                            caption: data.title,
                            content: data.msg,
                            timeout: 10000,
                            type: data.status
                        });

                if (data.reservasConflitantes !== undefined)
                {
                    var datasReservasConflitantes = '';
                    $.each(data.reservasConflitantes, function (indice, data)
                    {
                        data = timesTampParaData(data * 1000);
                        datasReservasConflitantes = datasReservasConflitantes + data.dia + '/' + data.mes + '/' + data.ano + ' - ';
                    });

                    datasReservasConflitantes = datasReservasConflitantes.substring(0, datasReservasConflitantes.length - 3);

                    var mensagemReservaEmConflito =
                            '<h5>Houve conflito de Reservas em:</h5>' +
                            '<p>' + datasReservasConflitantes + '</p>';

                    $('#reservasConflitantes').html(mensagemReservaEmConflito);
                } else
                    $('#reservasConflitantes').html('');
                
                if (data.status === 'success')
                {
                    //                    window.alert("sucesso meu parça");
                } else
                {
                    //informar onde não rolou a reserva
                }
            });
        };
        admin.dialog(titulo, conteudo, callback);
    });

    $('#btnConsultaOferecimento').on('click', function ()
    {
        $("#gridOferecimentos").bootstrapTable('refresh', {
            url: "/oferecimentos?txBusca=" + $('#txconsultaoferecimentos').val()
        });
    });

    $('#btnConsultaObjeto').on('click', function ()
    {
        $("#gridObjetos").bootstrapTable('refresh', {
            url: "/objetos?txconsulta=" + $('#txconsultaobjetos').val()
        });
    });

    var periodoAntigo = new Periodo();
    var admin = new Admin();
    $("#gridOferecimentos").bootstrapTable({
        url: "/oferecimentos",
        pageSize: 10,
        pagination: true,
        pagelist: [10, 100, 250], sidePagination: 'server',
        columns: [
            {field: 'usuarionome', title: 'Nome', width: '45%'},
            {field: 'usuariousr', title: 'Usuário', width: '15%'},
            {field: 'periodonome', title: 'Período', width: '10%'},
            {field: 'disciplina', title: 'Disciplina', width: '20%'},
            {field: 'sigla', title: 'Curso', width: '10%'}
        ],
        onClickRow: function (row)
        {
            $('#oferecimentoselecionado').html('<strong>' + row.usuarionome + '-' + row.periodonome + '-' + row.disciplina + '</strong>');
            $('#oferecimentoselecionado').val(row.usuariousr + '-' + row.periodonome + '-' + row.disciplina);
            $('#oferecimentoid').val(row.id);
        }
    });

    $("#gridObjetos").bootstrapTable({
        url: "/objetos",
        pageSize: 10,
        pagination: true,
        pagelist: [8, 14, 21],
        sidePagination: 'server',
        columns: [
            {field: 'objetodescricao', title: 'Objeto', halign: 'center', width: '45%'},
            {field: 'tipoobjetodescricao', title: 'Categoria', width: '45%'}
        ],
        onClickRow: function (row) {
            $('#objetoselecionado').html('<strong>' + row.objetodescricao + '-' + row.tipoobjetodescricao + '</strong>');
            $('#objetoselecionado').val(row.objetodescricao + '-' + row.tipoobjetodescricao);
            $('#objetoid').val(row.objetoid);
        }
    });

    /*
     * Implementação da aba de manutenção
     */
    $('#tabelamanutencao').bootstrapTable({
        url: "/reservas",
        pageSize: 20,
        pagination: false,
        pagelist: [10, 100, 250],
        sidePagination: 'server',
        onClickRow: function (row) {
            admin = new Admin();
            var titulo = 'Cancelamento de reservas';
            var conteudo = 'Qual reserva deseja cancelar?<br>';

            if (row.mat_aula_1)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_1">Matutino aula 01<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_1" disabled>Matutino aula 01<br>';
            if (row.mat_aula_2)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_2">Matutino aula 02<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_2" disabled>Matutino aula 02<br>';
            if (row.mat_aula_3)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_3">Matutino aula 03<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_3" disabled>Matutino aula 03<br>';
            if (row.mat_aula_4)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_4">Matutino aula 04<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="mat_aula_4" disabled>Matutino aula 04<br>';

            if (row.almoco)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="almoco">Almoço<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="almoco" disabled>Almoço<br>';

            if (row.vesp_aula_1)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_1">Vespertino aula 01<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_1" disabled>Vespertino aula 01<br>';
            if (row.vesp_aula_2)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_2">Vespertino aula 02<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_2" disabled>Vespertino aula 02<br>';
            if (row.vesp_aula_3)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_3">Vespertino aula 03<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_3" disabled>Vespertino aula 03<br>';
            if (row.vesp_aula_4)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_4">Vespertino aula 04<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="vesp_aula_4" disabled>Vespertino aula 04<br>';

            if (row.janta)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="janta">Janta<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="janta" disabled>Janta<br>';

            if (row.not_aula_1)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_1">Noturno aula 01<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_1" disabled>Noturno aula 01<br>';
            if (row.not_aula_2)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_2">Noturno aula 02<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_2" disabled>Noturno aula 02<br>';
            if (row.not_aula_3)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_3">Noturno aula 03<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_3" disabled>Noturno aula 03<br>';
            if (row.not_aula_4)
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_4">Noturno aula 04<br>';
            else
                conteudo += '<input type="checkbox" name="horarioCancelamentoReserva" value="not_aula_4" disabled>Noturno aula 04<br>';

            var callback = function ()
            {
                var horarioCancelamentoReserva = [];
                $('input[name="horarioCancelamentoReserva"]').each(function ()
                {
                    if ($(this).is(':checked'))
                        horarioCancelamentoReserva.push($(this).val());
                });

                if (horarioCancelamentoReserva.length !== 0)
                    $.post('cancelar-reserva',
                            {
                                horarioCancelamentoReserva: horarioCancelamentoReserva,
                                data: row.data,
                                objeto: row.objeto
                            }
                    , function (data, status)
                    {
                        $.Notify({
                            caption: data.title,
                            content: data.msg,
                            timeout: 10000,
                            type: data.status
                        });
                        if (data.status === 'success')
                            $("#tabelamanutencao").bootstrapTable('refresh', {
                                url: "/reservas"
                            });
                    });
            };

            admin.dialog(titulo, conteudo, callback);
        }
    });

    /*
    * Implementação da aba de cancelamento de operações
    */

    $('#tabelaCancelamento').bootstrapTable({
        url: '/operacoes',
        pageSize: 10,
        pagination: true,
        sidePagination: 'server',
        columns:[
            {field: 'descricao', title: 'Descrição', width: '40%'},
            {field: 'usuario', title: 'Usuário', width: '20%'},
            {field: 'disciplina', title: 'Disciplina', width: '10%'},
            {field: 'curso', title: 'Curso', width: '10%'},
            {field: 'objeto', title: 'Objeto', width: '20%'},
        ],
        onClickRow: function (row) {
            admin = new Admin();
            var titulo = 'Cancelamento de operações';
            var conteudo = '<p>Deseja cancelar a operacao '+row.descricao+'?</p>';
            var callback = function ()
            {
                $.post('desativar-operacao', {
                        id: row.id
                    }
                    , function (data, status) {
                        $.Notify({
                            caption: data.title,
                            content: data.msg,
                            timeout: 10000,
                            type: data.status
                        });
                        if (data.status === 'success')
                            $("#tabelaCancelamento").bootstrapTable('refresh', {
                                url: "/operacoes"
                            });
                    });
            };
            admin.dialog(titulo, conteudo, callback);
        }
    });

    $('#btnConsultaOperacao').on('click', function ()
    {
        $("#tabelaCancelamento").bootstrapTable('refresh', {
            url: "/operacoes?txconsulta=" + $('#txconsultaOperacao').val()
        });
    });

    $('input[name="datamanutencao"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        "timePicker": false,
        "opens": "rigth",
        "drops": "down",
        "locale": {
            format: 'DD/MM/YYYY',
            "separator": " | até | ",
            "applyLabel": "Aplicar",
            "cancelLabel": "Cancelar",
            "fromLabel": "de",
            "toLabel": "para",
            "customRangeLabel": "Personalizado",
            "daysOfWeek": [
                "Dom",
                "Seg",
                "Ter",
                "Qua",
                "Qui",
                "Sex",
                "Sab"
            ],
            "monthNames": [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ],
            "firstDay": 1
        }
    },
            function (start, end, label) {
                var data = timesTampParaData(start);
                $('#tabelamanutencao').bootstrapTable('refresh', {
                    url: '/reservas?dia=' + data.dia + '&mes=' + data.mes + '&ano=' + data.ano
                });
            }
    );

    function timesTampParaData(timesTamp)
    {
        var data = new Date(timesTamp);
        return {dia: data.getDate(), mes: data.getMonth() + 1, ano: data.getFullYear()};
    }

    function formatadorCelula(val)
    {
        if (val)
        {
            return '<span class="mif-cross fg-red"></span>';
        }
        return '<span class="mif-checkmark fg-blue"></span>';
    }

    $("tbody").on("click", "tr", function (e) {
        $(this)
            .toggleClass("selected")
            .siblings(".selected")
            .removeClass("selected");
    });
</script>