<center><h1>Administração de Usuários</h1></center> 
<div class="container">
    <div class="grid">
        <div class="row cells2">
            <div class="cell colspan6">
                <% include ./usuarios/formulario-de-cadastro %>
            </div>
            <div class="cell colspan6">
                <% include ./usuarios/listagem %>
            </div>
        </div>
    </div>
</div>

<% include ./usuarios/js/main %>
