<p class="copyright" style="vertical-align: bottom; text-align: center;">
    &copy; Desenvolvido por UNEMAT - Unemat-BBG Campus Universitário Renê Barbour<br>
    Endereço: R. A, s/n - COHAB São Raimundo, Barra do Bugres - MT, 78390-000
</p>