<center><h2>Lista de períodos</h2></center>
<div class="input-control modern text place-right" data-role="input" style="width: 100%;">
    <input id="txConsulta" type="text">
    <span class="label">Localizar</span>
    <span class="informer">Digite o período para a busca</span>
    <span class="placeholder">Digite o período para a busca</span>
    <button id="btnConsulta" class="button"><span class="mif-search"></span></button>
</div>
<table id="gridPeriodos">

</table>

<% include ./js/consulta-periodos %>