<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include ./parciais/head %>
    </head>
    <body>
        <div class="app-bar">
            <a href="/" class="app-bar-element branding"><img src="/images/brazao-unemat-min.png" class="logo-brazao" alt="brazão UNEMAT"> </a>
            <a href="/" class="app-bar-element branding">Reservas de Equipamentos e Laboratórios</a>
            <span class="app-bar-element branding"><span id="temposessao"></span></span>
            <% if(autenticado){ %>
                <div class="app-bar-element place-right">
                    <span class="dropdown-toggle"><span class="mif-cog"></span> <%= usuario %></span>
                    <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                        <ul class="unstyled-list fg-dark">
                            <li>
                                <% if(admin){ %>
                                    <a href="/admin" class="fg-white3 fg-hover-yellow">Área administrativa</a>    
                                <% } else { %>
                                    <a href="/comum" class="fg-white3 fg-hover-yellow">Área do professor</a>
                                <% } %>
                            </li>
                            <li>
                                <a href="/sair" id="sair" class="fg-white3 fg-hover-yellow">Deslogar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <% } else { %>
                <div class="place-right">
                    <input type="text" name="usr" id="usr" placeholder="Usuário" value="" class="input-control">
                    <input type="password" name="passwd" id="passwd" placeholder="Senha" value="" class="input-control password">
                    <button id="entrar" class="button info block-shadow-info text-shadow">Entrar</button>
                </div>
            <% } %>
        </div>
        <p style="padding: 0.3em;"></p>
        <div class="container">
            <div class="grid row">
                <div class="row cells12">
                    <div class="cell colspan3">
                        <blockquote style="padding: .4em; font-size: 1.2em; background-color: #59cde2"><span>Consultar por Categoria:</span></blockquote>
                        <div class="input-control select">
                            <select name="tipoObjeto" id="tipoObjeto">
                                <option value="">Todas as categorias</option>
                                <% tiposObjetos.forEach(tipoObjeto => { %>
                                    <option value="<%= tipoObjeto.id %>"><%= tipoObjeto.descricao %></option>
                                <% }) %>
                            </select>
                        </div>
                        <button class="square-button" onclick="atualizarReservas()"><span class="icon mif-search"></span></button>
                        <div data-role="calendar" id="reservadata" data-day-click="atualizarReservas" data-locale="pt" data-buttons="false"></div>
                        <p style="font-weight: bold">Legenda:</p>
                        <p><span class="mif-checkmark fg-blue"></span> Livre</p>
                        <p><span class="mif-cross fg-red"></span> Reservado</p>
                    </div>
                    <div class="cell colspan9">
                        <table id="tabelareservas">
                            <thead>
                                <tr>
                                    <th rowspan="2" data-field="descricao">Objeto</th>
                                    <th colspan="4">Matutino</th>
                                    <th rowspan="2" data-field="almoco" data-formatter="formatadorCelula">Almoço</th>
                                    <th colspan="4">Vespertino</th>
                                    <th rowspan="2" data-field="janta" data-formatter="formatadorCelula">Janta</th>
                                    <th colspan="4" data-formatter="formatadorCelula">Noturno</th>
                                </tr>
                                <tr>
                                    <th data-field="mat_aula_1" data-formatter="formatadorCelula">1</th>
                                    <th data-field="mat_aula_2" data-formatter="formatadorCelula">2</th>
                                    <th data-field="mat_aula_3" data-formatter="formatadorCelula">3</th>
                                    <th data-field="mat_aula_4" data-formatter="formatadorCelula">4</th>

                                    <th data-field="vesp_aula_1" data-formatter="formatadorCelula">1</th>
                                    <th data-field="vesp_aula_2" data-formatter="formatadorCelula">2</th>
                                    <th data-field="vesp_aula_3" data-formatter="formatadorCelula">3</th>
                                    <th data-field="vesp_aula_4" data-formatter="formatadorCelula">4</th>

                                    <th data-field="not_aula_1" data-formatter="formatadorCelula">1</th>
                                    <th data-field="not_aula_2" data-formatter="formatadorCelula">2</th>
                                    <th data-field="not_aula_3" data-formatter="formatadorCelula">3</th>
                                    <th data-field="not_aula_4" data-formatter="formatadorCelula">4</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <% include ./parciais/footer %>
        </footer>
    </body>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/metro.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/models.js"></script>
    <script src="js/md5.min.js" type="text/javascript"></script>
    <script src="js/cpf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    <% include ./inicio/js/consulta-reservas %>
    <% include ./inicio/js/login %>
    <% include ./inicio/js/logoff %>

    <% if(autenticado){ %>
        <% include ./parciais/contador-regressivo %>
        <script>
            contadorRegressivo({ tempoSessao: <%= tempoSessao %>, destinoFimSessao: '/sair', elemento: 'temposessao' });
        </script>
    <% } %>
</html>
